.Navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:20px;
    cursor: pointer;

}

.content ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: 400;
    position: relative;
    left: 435px;
    bottom: 18px;
}
.content ul li:hover{
    color: grey;
}

.inner {
    display: flex;
    position: relative;
    left: 220px;
    bottom: 20px;
}
.inner h2{
    font-weight: 200;
}
.inner h2:hover{
    color: grey;
}

.inner img {
    height: 25px;
    margin-top: 6px;
}

.Navbar button {
    height: 40px;
    width: 120px;
    font-weight: 700;
    border: 1px solid black;
    background-color: #FFBF23;
    border-radius: 10px;
    position: relative;
    left: 10px;
    bottom: 18px;
}

.Navbar button:hover {
    background-color: black;
    color: #FFBF23;
    cursor: pointer;
}

.logo{
    display: flex;
}
.logo h2{
    margin-top: 10px;
    font-weight: 400;
    font-size: 32px;
}
.logo h2:hover{
    color: grey;
}


