.info {
    margin-left: 240px;
    margin-top: 120px;
}
.info h1{
    font-weight:400;
    font-size: 40px;
}
.info h3{
    font-size: 16px;
    font-weight: 500;
    color: rgb(71, 64, 64);
    line-height: 30px;
}
.Cards{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-top: 120px;
}