.HeroSix {
    margin-top: 130px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
    gap: 100px;
}

.heading {
    margin-left: 195px;
}

.heading h1 {
    font-size: 39px;
    font-weight: 400;
}